// 全局字体
$font-family: '"PingFang SC", "Hiragino Sans GB", "Microsoft YaHei"';

// 主题色
$theme-color: #096dd9;

// 背景色
$bg-color: (
  light: #ffffff,
  dark: #0d1117,
);

// 文字颜色
$text-color: (
  light: #000000,
  dark: #dedede,
);

.theme-hope-content {
  // 字体加粗
  strong {
    color: var(--theme-color);
  }
}

// 目录文本颜色
#toc .toc-link {
  color: var(--text-color);
}

// 导航栏字体颜色
.vp-site-name,
.vp-navbar .nav-item > .nav-link,
.vp-repo-link,
.outlook-button {
  color: var(--text-color) !important;
}
